Repository Wifi-G9/backend, pull requests merged in 2023-11, with the labels that each got.

#16 main_page: Change models and serializers location
  backend/main_page/models/Accounts.py
  backend/main_page/models/DeveloperMessage.py
  backend/main_page/models/SearchHistory.py
  backend/main_page/models/User.py
  backend/main_page/serializers/AccountsSerializer.py
  backend/main_page/serializers/DeveloperMessageSerializer.py
  backend/main_page/serializers/SearchDistorySerializer.py
  backend/main_page/serializers/UserSerializer.py
Labels: backend

#28 docs: Added setup documentation and contribution rules
  README.md
Labels: documentation, backend

#29 feat + doc: Added get_word_of_the_day func and extra documentation
  backend/main_page/views/word_search_view.py
Labels: backend

#31 doc: Added documentation for class view
  README.md
  backend/main_page/views/word_search_view.py
Labels: documentation, backend

#35 Implemented View for top Instagram posts
  backend/main_page/views/instagram_search_view.py
  backend/main_page/views/main_page_view.py
Labels: backend

#37 interest_over_time: Added interest over time
  backend/main_page/views/interest_over_time.py
  backend/main_page/views/main_page_view.py
Labels: backend

#38 feat: Added popular trends view
  backend/main_page/views/main_page_view.py
  backend/main_page/views/popular_trends.py
Labels: backend

#39 style: deleted unnecessary urls
  backend/main_page/main_page_urls.py
  backend/tsma/urls.py
Labels: backend

#40 feat: Added routing
  backend/main_page/main_page_urls.py
  backend/main_page/views/chatgpt_description_view.py
  backend/main_page/views/instagram_search_view.py
  backend/main_page/views/interest_over_time.py
  backend/main_page/views/popular_trends.py
  backend/main_page/views/sentiment_analysis.py
  backend/main_page/views/similar_trends.py
  backend/main_page/views/word_search_view.py
Labels: bug, backend

#42 view_package: Renamed every .py without "_view" in name
  backend/main_page/main_page_urls.py
  backend/main_page/views/instagram_search_view.py
  backend/main_page/views/interest_over_time_view.py
  backend/main_page/views/main_page_view.py
  backend/main_page/views/popular_trends_view.py
  backend/main_page/views/sentiment_analysis_view.py
  backend/main_page/views/similar_trends_view.py
Labels: backend
