Repository Wifi-G9/backend, pull requests merged in 2024-01, with the labels that each got.

#59 user_feed_view: Added the view returning a bunch of necessary regarding the user profile
  backend/dependencies/packages.txt
  backend/user_page/user_page_urls.py
  backend/user_page/views/user_feed_view.py
Labels: backend

#61 login_view.py: Fixed bad import in Login View
  backend/main_page/views/login_view.py
Labels: bug, backend

#62 UserFeedView: Send 3 photos of the top posts
  backend/user_page/views/user_feed_view.py
Labels: enhancement, backend
